* {
	padding: 0;
	margin: 0;
}
.wrapper{
	max-width: 1024px;
	margin: 0 auto;
}
ul{
	list-style:none;
}
li{
	float:left;
}
img,picture {
	width: 100%;
}

@media all and (max-width: 1024px) and (min-width: 600px){
	ul{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media all and (min-width: 1024px){
	ul{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}